<mat-toolbar class="header">
  <mat-toolbar-row>
    <span>DemoApp</span>
    <span class="example-spacer"></span>
    <span class="icon-margin">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">
     <a routerLink="/home" routerLinkActive="active">Home</a>
   </mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">
     <a routerLink="/login" routerLinkActive="active">Login</a>
   </mat-icon>
  </span>
  </mat-toolbar-row>
</mat-toolbar>
